*{
    margin: 0;
    padding: 0;
    font-family: "Rubik", serif;
    font-optical-sizing: auto;
    font-weight: '<weight>';
    font-style: normal;
}
body{
    
    background-image: linear-gradient(to bottom,#563c9d,#4724a8);
    display: flex;
    align-items: center;
    justify-content: center;
   
}
/* header navbar */
header{
    margin: 20px;
    display: flex;
    justify-content: space-between;
    width: 85%;
    align-items: center;
    position: fixed;
    z-index: 10;
}
.logo{
  margin-right: 20px;
  animation:logo_navbar 1.5s ease-in-out both;
    opacity: 0;
}
@keyframes logo_navbar{
  
    100%{
       opacity: 1;
    }
   }
   
ul{
    background:#be40b19d ;
    padding: 6px;
    border-radius: 20px;
    width: 500px;
    display: flex;
    justify-content: space-around;
    animation: navbar 1.5s ease-in-out both;
    height: 18px;
    border: 2px solid rgba(255, 255, 255, 0.406);
}
@keyframes navbar{0%{width: 0px;}}
li{
    
    animation: li_navbar 2s steps(1) both;
    list-style: none;
  
}
 ul li a::before{
    content: ' ';
    border-radius: 15px;
    bottom: 2px;
    background: rgba(174, 0, 255, 0.741);
    position: absolute;
    width: 0px;
    height: 5px;
    transition: 0.5s;
}
ul li a:hover::before{
    
    border-radius: 15px;
    bottom: 2px;
    background: rgba(255, 255, 255, 0.78);
    position: absolute;
    width: 110px;
    height: 5px;
}
a{
    text-decoration: none;
    display: block;  
    color: white;
     
}
@keyframes li_navbar {
    0%{display:none; }
    70%{display:block; }

 }
/* container */
.container{
    
    width: 98%;
    margin: 10px;
    height: 97%;
    background: #010a43;
    border-radius: 20px;
    text-align: center;
    position: relative;
    display: flex;
    justify-content: center;
}
/* box_of_contant */
.box_of_contant1{
    margin-top: 50px;
    background: #3e05a0;
    width: 100%;
    
    border-radius: 20px;
}

h2{
    color: white;
    background-color: black;
    margin: 20px;
    border-radius: 10px;
    padding: 10px;
}




.div-item{
    width: 420px;
    margin: 20px;
    display: inline-block;
    min-height: 120px;
    border-radius: 15px;
    border: 2px solid white;
   
    
}
.img-item{
    width: 90%;
    border-radius: 15px;
    margin-top:10px ;
    transition: .5s;
}
.img-item:hover{
    width: 95%;
}


@keyframes img-start{
    0%{
      transform: translateX(-100px);
       opacity: 0;
    }
    
}
@media (max-width:1120px){
    
    .start{
        height: 600px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content:space-around;
        position: relative;
        
        
        }
        .start h2{
            position: absolute;
            width: 90%;
            color: white;
            margin: 10px;
            font-size: 20px;
            backdrop-filter: blur(10px);
            padding: 10px;
            border-radius: 20px;
            top: 300px;
        }
        .start img{
            position: absolute;
            top: 10px;
            width: 500px;
            animation: img-start 1.5s ease-in-out ;
            
        }
}
@media(max-width:614px){
    
    .start img{
        position: absolute;
        top: 50px;
        width: 350px;
        animation: img-start 1.5s ease-in-out ;
        transition: 0.5s;
        
    }}